@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* common code start */
.btn{
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    padding: 18px 36px;
    border: none;
    border-radius: 5px;
}

.about-tittle{
    font-size: 35px;
    color: #181818;
    font-weight: 700;
}
.about-content{
    font-size: 18px;
    color: #757575;
    margin: 20px auto 30px;
}
.list-title{
    font-size: 20px;
    color: #757575;
}
.list-about{
    font-size: 20px;
    color: #474747;
}
.skill-tittle{
    font-size: 20px;
    color: #181818;
    margin: 20px auto;
}
.skill-content{
    font-size: 16px;
    color: #757575;
}
.summary-tittle{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
}
.sub-summary-tittle{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
     margin: 20px auto 10px;
}
.sub-summary-tittle-2{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
   
}
.summary-content{
    font-size: 16px;
    color: #757575;
    margin: 20px auto;
}
.footer-tittle{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
/* common code end */


/* nav section start */
header{
    background-color: #FFF8F3;
     background-image: url("../images/developer.png") , url("../images/header_bg.png");
     background-repeat: no-repeat;
     background-position: left , right bottom;
     
    /* width: 100%; */
}
header nav{
    display: flex;
    justify-content:space-between ;
    align-items: center;
     width: 80%;
     margin: 0 auto;
     padding-top: 50px;
}
header nav ul{
    display: flex;
    align-items: center;
    
}
header h1{
    font-weight: 800;
    font-size: 45px;
}
header h1 span{
    color: #FD6E0A;
}
header nav ul li{
    list-style-type: none;
    font-size: 20px;
    margin-right: 50px;
}
header nav ul li a{
    text-decoration: none;
    color: #474747;
}


/* nav section end */

/* banner section start */
header .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 0 190px;
   
}
header .banner .greetings-section{
    width: 585px;
  
}
header .banner .greetings-section h3{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}
header .banner .greetings-section h1{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
   
}
header .banner .greetings-section p{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
header .banner .greetings-section .btn-primary{
    background-color: #FFF8F3;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    margin-left: 30px;
}



/* banner section end */

/* main section start */

/* about section start */



main{
    width: 1140px;
    margin: auto;
}
main .about-section{
    height: 550px;
    background-color: #FFF8F3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px auto;
}
main .about-section .about{
    width: 827px;
    margin: auto;
    text-align: center;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px;
}
main .about-section .about >p{
    margin: 20px auto 30px;
}
main section .about ul{
    display: flex;
    justify-content: space-evenly;

}
main .about-section .about ul li{
    list-style: none;
}


/* about section end */


/* skill section start */
main .skill{
    margin: 0 auto 150px;
}

main .skill .experience-section{
    text-align: center;
    width: 909px;
    margin: 0 auto 30px;
}
main .skill .skill-section ul{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
main .skill .skill-section ul li{

    list-style: none;
    padding: 30px;
    box-shadow: 0px 6px 50px 0 rgba(0, 0, 0, 0.06);
}

/* skill section end */


/* summary section start */
.summary{
   

}
.summary h3{
    text-align: center;
    margin-bottom: 100px;
}

.summary .summary-section{
    display: flex;
    gap: 50px;
}
.summary .button{
    text-align: center;
    margin: 50px auto 100px;
}















/* summary section end */




/* main section end */


/* footer section start */
footer{
    
    background-color: #FFF8F3;
    display: flex;
    justify-content: center;
}
footer .footer-section{
    width: 1140px;
    display: flex;
    gap: 50px;
    margin: 200px 230px;
}
footer .footer-section .footer-content{
    width: 562px;
}
footer .footer-section .footer-content .sub-footer-content{
    font-size: 16px;
    color: #474747;
    margin: 20px auto;
}
footer .footer-section .footer-content ul {
    display: flex;
}
footer .footer-section .footer-content ul li{
    list-style: none;
    margin-right: 20px;
    
}
footer .footer-section .footer-content ul li a i{
    color: #FD6E0A;
}

footer .footer-section .footer-form input[type=text],input[type=email] ,textarea{
    display: block;
    border: none;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}
input::placeholder,textarea::placeholder{
    font-size: 16px;
    color: #757575;
}
input[type=submit]{
    margin-top: 20px;
}


/* footer section end */